APP_BUILD_TARGET="development"
NODE_ENV="development"
APP_PORT=8080
DATABASE_URL=postgres://postgres:postgres@db:5432/crevy

SALT_WORK_FACTOR=10
ACCESS_TOKEN_TTL="30m" #expires every 30minutes
REFRESH_TOKEN_TTL="10days" #expires every 10days